.avatar-image {
    width: 100px; 
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.register_form{
    float: left;
    width:40%;
    margin-left: 5%;
}
.login_form{
    float: right;
    width: 40%;
    margin-right: 5%;
}