.avatar-image {
    width: 75px; 
    height: auto;
}

#top_box, #div_register_form, #div_login_form, #game_launcher, #friend_list{
    display: none;
}

#game_card {
    width: 75vw;
    height: 90vh;
}

#friend_list {
    width: 22vw;
    height: 90vh;
}