.avatar-image {
    width: 75px; 
    height: auto;
}

#error404{
    display: none;
}

.friend-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.card-body a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from the parent */
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

canvas {
  border: 1px solid black;
}

[data-bs-theme="dark"] body {
  background-color: #1B2838;
  font-family: "Motiva Sans", Sans-serif;
}

.btn-primary {
  background-color: #2A475E;
  border-color: #2A475E;
  color: white;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  border-color: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
}

/* LOGIN PAGE */

#register_form, #login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  width: 100%;
}

#card_register, #card_login {
  width: 350px;
  height: 400px;
  background-color: #181A21;
  border-color: #181A21;
}

.card-footer {
  background-color: #181A21;
  border-color: #181A21;
}

.form-label {
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 3px;
}

 .form-control {
  background-color: #32353c;
  border-color: #32353c;
}

#authButton {
  margin-top: 50px;
  margin-left: 83px;
  width: 150px;
  background: #00babc;
  border-color: #00babc;
  font-family: "FuturaPT", Sans-serif;
  
}

/* Password checkbox */

#pwd_checkbox {
  display:none;
  background: #e63737;
  background-color: #181A21;
  color: white;
  font-family: "Motiva Sans", Sans-serif;
  position: relative;
  margin-top: 10px;

}

#pwd_checkbox p {
padding: 10px 35px;
font-size: 16px;
}

h3 {
  font-family : "Protest Revolution", Sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
}

h5 {
  font-family : "Roboto", Sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #46c753;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #bf3232;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2715";    
}

/* LOGIN PAGE */

#top_box {
  border-color: #181A21;
  background-color: #181A21;
  display: flex;
  margin-top: 1vh;
  height: 8vh;
}

#logout_button {
  width: 30%;
  min-width: 7vh;
  max-width: 1vh;
  height: 60%;
}

#profil_button {
  width: 40%;
  height: 60%;
  min-width: 5vh;
  max-width: 70vh;
}

#friendListBody {
  border-color: #181A21;
  background-color: #181A21;
  margin-top: 1vh;
  height: 89vh;
}

#friendListCard {
}

#friend_list_div {
  width: 100%;
}

#game_launcher {
  height: 89vh;
  margin-top: 1vh;
  border-color: #181A21;
  background-color: #181A21;
  
}

/* PROFIL PAGE */

#profile_settings_card {
  height: 89vh;
  margin-top: 1vh;
  border-color: #181A21;
  background-color: #181A21;
}

#match_history {
  height: 89vh;
  margin-top: 1vh;
  border-color: #181A21;
  background-color: #181A21;
}

#popup2fa {
  border-color: #32353c;
  background-color: #32353c;
  width: 20vh;
}

.blockquote-figure {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#profilRightSide {
  margin-top: 1vh;
}

#avatar_upload_form {

}

#profilLeftSide .element {
  margin-bottom: 100px;
}

#profilRightSide .element {
  margin-bottom: 50px;
}

#save_button {
}

#btn_2fa {
  justify-content: center;
  display: flex;
  margin-bottom: 10vh;
}
 
                                    /* GRAPHIC CHARTER */

/*

font-family :                  "Motiva Sans", Sans-serif;

Dark Blue Body Background :    #1B2838
Black Form :                   #181A21 
Linear Gradient Button :       linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%)
Grey Input Box :               #32353c

*/

