<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>
    <div class="container-fluid">
      <div class="row" id="form_page">
        <div class="col-md-6 p-3" id="div_register_form">
          <form id="register_form" class="register_form" >
            {% csrf_token %}
            <div class="card">
              <div class="card-body">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" maxlength="16" required/>
                <span id="usernameError" class="error-message"></span>

                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="yourmail@random.com" maxlength="50" required/>
                <span id="emailError" class="error-message"></span>


                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" maxlength="16" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Special characters allowed : @$!%#?&" required/>
                <div id="pwd_checkbox">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                  <p id="forbiddenChar" class="invalid">A <b>special characters (@$!%#?&)</b></p>
                </div>
                
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary" id="register_button">register</button>
              </div>
              
            </div>
          </form>
        </div>

        <div class="col-md-6 p-3" id="div_login_form">
          <form id="login_form" class="login_form">
            <div class="card">
              <div class="card-body">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="login_Username" placeholder="Username" maxlength="16" required/>
                <span id="loginUsernameError" class="error-message"></span>

                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control"  id="login_Password" placeholder="Password" maxlength="16" required/>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary" id="login_button">login</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card" id="top_box">
          <div class="card-body d-flex flex-column justify-content-between" style="width:100vw;">
            <div class="row">
              <div class="col-md-4">
                <div class="img img-fluid" id="avatar">
                  <img id="avatar-image" class="avatar-image" src="" alt="user-avatar">
              </div>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary " id="profil_button">profil</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" id="logout_button">logout</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="game_launcher">
          <div class="card-body"  id="game_card">
            <div class="row">
              <div class="col-md-8">
                <button class="btn btn-primary " id="play_button">play</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" id="tournament">Tournament</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body" id="friend_list">
              <p>Friend List</p>
          </div>
      </div>

        <div class="div" id="profil_page"></div>
          <form id="avatar_upload_form" enctype="multipart/form-data"> <!-- Form upload Avatar-->
            <label for="id_avatar">Choose Avatar:</label>
            <input type="file" id="id_avatar" name="avatar" accept="image/*" required/>
            <button type="button" id="upload_avatar_button" onclick="uploadAvatar()">Upload Avatar</button>
          </form>
    </div>
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </body>
</html>